body {
    background-color: gray;
}

h1, h2, h3 {
    text-decoration: underline;
}

a {
    display: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

input{
    margin-bottom:10px;
}

.discussion {
    border: 3px solid #544b03;
    background-color: #d4cd98;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
}