body {
    background-color: darkblue;
}

h1, h2, h3 {
    text-decoration: underline;
}

a {
    display: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.discussion {
    border: 3px solid darkgray;
    background-color: #E8DCB8;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
}