body { 
    display: flex; 
    height: 100vh; 
    margin: 0; 
    font-family: 
    sans-serif; 
    background-color: #5F9EA0; /* change la couleur de fond */
    font-size:1rem;
}

h1, h2, h3 { /* Modifie les titres */
    text-decoration: underline; /* les sousligne */
}
 
.users { 
    width: 150px; 
    border-right: 1px solid #ccc; 
    padding: 0.5rem; display: flex; 
    flex-direction: column; 
    gap: 0.25rem; 
}

.users a { 
    display: block; 
    text-decoration: none; 
    color: inherit; 
    padding: 0.2rem; 
}

.users a.actif { 
    font-weight: 
    bold; 
}
 
.chat { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}

.messages { 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 0.5rem; 
}
 
.me    { 
    text-align: right;
    display: inline-block;
    align-self: flex-end;
    background-color: #d4cd98;
    border-radius: 1rem;
    border: 3px solid black;
    padding: 0.25rem;
    margin: 0.5rem;
}

.other { 
    text-align: left;
    display: inline-block;
    align-self: flex-start; 
    background-color: #d4cd98;
    border-radius: 1rem;
    border: 3px solid black;
    padding: 0.25rem;
    margin: 0.5rem;
}


.date { 
    font-size: 11px; 
    color: #999; 
}
 
.formulaire { 
    display: flex; 
    gap: 0.5rem; 
    padding: 0.5rem; 
    border-top: 1px solid #ccc; 
}

.formulaire input { 
    flex: 1;
    size:5rem;
    height:2rem;
    border-radius: 10px; /* arrondit les coins */
}
