body { 
    display: flex; 
    height: 100vh; 
    margin: 0; 
    font-family: 
    sans-serif; 
    background-color: #5F9EA0; /* change la couleur de fond */
    font-size:1rem;
}

h1, h2, h3 { /* Modifie les titres */
    text-decoration: underline; /* les sousligne */
}

h3 {
    text-align:center;
}

.users { 
    width: 150px; 
    border-right: 1px solid #ccc; 
    padding: 0.5rem; 
    display: flex; 
    flex-direction: column;
}

.users a { 
    display: block; 
    text-decoration: none; 
    color: inherit; 
    padding: 0.2rem; 
}

.users a.actif { 
    font-weight: bold; 
}

.liste-users {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bas-de-colonne {
    flex-shrink: 0; /*Empêche le bloc de rétrécir.*/
    font-weight: bold; 
}

.users > hr {
    margin: 0.5rem 0;
}
 
.chat { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}

.messages { 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 0.5rem;
    flex: 1;
}
 
.me    { 
    text-align: right;
    display: inline-block;
    align-self: flex-end;
    background-color: #d4cd98;
    border-radius: 1rem;
    border: 3px solid black;
    padding: 0.25rem;
    margin: 0.5rem;
}

.other { 
    text-align: left;
    display: inline-block;
    align-self: flex-start; 
    background-color: #d4cd98;
    border-radius: 1rem;
    border: 3px solid black;
    padding: 0.25rem;
    margin: 0.5rem;
}


.date { 
    font-size: 11px; 
    color: #999; 
}
 
.formulaire { 
    display: flex; 
    gap: 0.5rem; 
    padding: 0.5rem; 
    border-top: 1px solid #ccc;
}

.formulaire input { 
    flex: 1;
    size:5rem;
    height:2rem;
    border-radius: 10px; /* arrondit les coins */
}

.infos-messages {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    position: fixed; /* Positionné par rapport à la fenêtre*/
    padding: 0.4rem 0.6rem;
    font-size: 0.75rem;
    pointer-events: none; /* La tooltip n'intercepte pas les clics */
    display: none;
    z-index: 999; /* Au dessus de tout */
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.ligne-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-morpion {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 2px 5px;
    opacity: 0.6;
}

.btn-morpion:hover {
    opacity: 1;
}